:root {
  --text-white-color: #ffffff;
  --text-color: #525b60;
  --text-dark-color: #273238;
  --text-footer-color: #606368;

  --text-blue-color: #4585f0;
  --background-gray: #8495d33d;
  --background-green: #2fccb6;
  --background-purple: rgba(51, 127, 255, 0.27);
  --background-green-pigment: #f3fdf7;
  --background-cerulean: #e6f8ff;
  --background-vivid-cerulean: #2eb0e7;

  --background-light-green: #3facac;
  --background-light-purple: #8495d3;
  --background-light-blue: #2eb0e7;
  --background-white: #fefefe;
  --background-pale-green: #f8fcff;
  --white: #fff;
  --background-blue: #4585f0;
  --bg: #8495d3;
  --primary-blue: #4585f0;
  --primary-black: #000000;
}
